[Unit]
Description=Auto start QEMU virtual machine
After=vgpu.service network.target
[Service]
Type=simple
Environment="type=system-x86_64" "haltcmd=kill -INT "
EnvironmentFile=/var/vm/scripts/env.sh
ExecStart=/bin/sh -c "/var/vm/scripts/start-vm2.sh"
ExecStop=/bin/sh -c
TimeoutStopSec=30
KillMode=none
[Install]
WantedBy=multi-user.target

